header, footer, aside, nav, article, figure, figcaption {
            display: block;
}

body{
	
	background-color:#3399FF; 
	font-family: arial;
	font-size: 1.3em;
	background: url("../images/background.jpeg") repeat;
	max-width: 960px;
	
}
#wrapper{
    width:100%;
    margin: auto 10% auto 10%;
    border:1px solid #943506;
    background-color:#CCFFFF;
    padding-left:5%;
    padding-right: 5%;
    overflow: hidden;

}
#main{
	padding-right: 10%;
}
section{
	-moz-column-count:2;
	-moz-column-gap:10%;
	width: 100%;
	font-size: 1em;
	padding-bottom: 1%;

}
section article{
	border:3px dashed #FFFFFF;
	background-color:#FF9933;

}
section article h2{
	font-size: 1em;
}


#wrapper #content #main div:target h2 {
	padding-left: 1%;
	font-size:150%;
	color:#ff5400;
	background: url(../_images/star.jpeg)no-repeat left center;
}

#main{
	float:left;
	width:60%;
	padding-bottom: 5%;
	
}
#first h2 a[href$=".pdf"]{
	padding: 1%;
	background: url(../_images/pdf.jpeg) no-repeat center;
}

a[href^="http://"]:hover{
	padding:5%;
	background:url(../_images.external_link.jpeg) no-repeat center;
}

#contact select input textarea[type="text"]{
width: 1%;	
}

#contact{
	background-color: #FF9933;
	float: left;
	width:100%;
	text-align: center;	
}
input:disabled{
	background-color:#D8D8D8;
} 
input:disabled{
color: #FFFFFF;
}
 img{
 	width:100%;
 }
 
aside{
    float:left;
	width:20%;
	margin:5% auto 10% auto;
	display:inline-block; 
	padding-left:5%;

}
aside img[alt*="icon"]{
	border:3px dashed #FF9933;
}
#container{
	max-width: 100%;

}
footer{
clear:both;
display:block;
margin:10% auto 10% auto;
text-align: center;

}

h1{
	text-align: center;
	color: #000066;
	padding-top: 5%;
}
* h2{
	color: #000066;
}
* h4{
	color:#3399FF;
}
* h5{
	color:#6600FF;
}
p{
	color:#663300;
}
li{
	color:#FF9933;
}
nav{
	margin:10% auto 10% auto;
    border: 1px solid #000099;
    background-color: #FF9933;
    width:100%;

}
nav li { 
	display: inline; 
	margin:auto 10% auto 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 1em;

		}
a:link{
     color:#000099; 
     text-decoration: none;
}

a:visited{
 color:#3399FF;
}

a:hover{
  color:#006666; 
  text-decoration: underline;
}


li{
	list-style-type:square;

}

#books h5 ol:first-line{

	color:#006666;

}
.one.two{
	font-family:"Times New Roman", Times, serif;
	font-size: 1.3em;
	color:#006666;
}

@media screen and (min-width: 768px) and (max-width:959px){
	 #wrapper {
	 	background-color:#FFFFFF;
	 	margin:10% auto 10% auto;
	 	padding-left: 5%;
	 	padding-right: 5%;
	 	width:80%;
	 }
	 body{
	 	font-size: .8em;
	 }
	 nav{
	 	width: 80%;
	 }
	 #contact{
	 	width:120%;
	 }


}
@media only screen and (min-width: 480px) and (max-width:767px){
#wrapper {
	 	background-color:#000000;
	 	margin:10% auto 10% auto;
	 	padding-left: 5%;
	 	padding-right: 5%;
	 	width:80%;
	 }
	 body{
	 	font-size: .7em;
	 }
	 nav{
	 	width: 80%;
	 }
	 #contact{
	 	width:140%;
	 }

	 footer{
    	color:#FFFFFF;
    }
}
@media only screen and  (max-width:479px){
	body{
		background: none;
		font-size: .5em;
		background-color:#CCFFFF;
	}
	#wrapper{
		border: none;
	}
	#main{
	float:none;
    }
    aside{
    	float:none;
    	width:50%;
    }
    section{
    	font-size: .8em;
    	width: 100%;
    	
    }


#contact{
	width:160%; 	
    
}
nav{
  font-size: 1em;
  width: 50%;
  margin:auto 0% auto 0%;
}
h1{
	text-align: left;
}

footer{
padding-right: 50%;
}












































